Source: gvpn
Section: web
Priority: optional
Maintainer: John Pankov <pankov@adsl.by>
Build-Depends: debhelper (>= 5), autotools-dev
Standards-Version: 3.7.2

Package: gvpn
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, gvpn-daemon (>= 0.1), gvpn-daemon (<< 0.2)
Description: GVPN PPTP client
 An easy to use Microsoft PPTP client (GTK+ version) 
